.news-buttons-buttons {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
}

.news-buttons-button {
    width: 2.5rem;
    height: 2.5rem;
}
